@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


/* General Styling */
h2 {
    font-family: 'Lobster', cursive;
    color: #585858;
    text-align: center;
    font-size: 400%;  
}

h3, h5 {
    font-family: 'Lobster', cursive;
    color: #585858;
    text-align: center;
}

h4 {
    font-family: 'Lobster', cursive;
    color: #585858;
    text-align: center;
    margin: 0.5%;
}

p {
    font-family: 'Quicksand', sans-serif;
}

.background {
    background-color: #F0E8DB;
}

.my-label {
    font-family: 'Quicksand', sans-serif;
}


/* Header Styling */
#page-header {
    background-color: #FCEB92;
    padding-left: 2%;
    padding-top: 0.5%;
}

#header-link {
    font-family: 'Lobster', cursive;
    color: #585858;
    text-align: center;
    font-size: 300%;  
}

#hero {
    background: url("../images/kilimanjaro-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
}

#my-nav {
    font-family: 'Lobster', cursive;
    font-size: 140%;
}

@media screen and (max-width: 768px){
    .rwd-break {
        display: none;
    }
}


/* Footer Styling */
.footer-elem {
    font-family: 'Lobster', cursive;
    color: #CBCED1;
    font-size: 140%;
    margin: 0%;
    padding: 0%;
}

.footer-elem ul {
    padding-left: 0%;
    background-color: #343A40;
    margin: 0%;
}

.footer-elem li {
    display: inline; 
}

.footer-elem i {
    margin: 1%;
    padding: 5%;
    color: #CBCED1;
}

#contact-footer {
    text-decoration: none;
    color: #CBCED1;
}


/* Home Styling */
#welcome {
    padding-top: 1%;
}

#join-me {
    padding-bottom: 1%;
}

#quote-image {
    background: url("../images/zanzibar/zanzibar5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    opacity: 0.9;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 240%;
}

@media screen and (max-width: 768px){
    .centered {
        font-size: 190%;
    }
}

@media screen and (max-width: 576px){
    .centered {
        font-size: 140%;
    }
}

#newsletter {
    margin-top: 1%;
    margin-bottom: 0%;
}

#email-signup {
    padding-bottom: 1%;
    padding-top: 1%;
    margin: 0%;
}

#newsletter-button {
    margin-bottom: 1%;
}


/* Gallery Styling */
.my-controls {
    text-align: center;
}

.control {
    color: #585858;
}

@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%; 
    } 
}

.carousel-multi-item-2 .card img {
    border-radius: 2px; 
}


/* Blog Styling */
.blog-header {
    padding-top: 2%;
}

#intro {
    padding-left: 0%;
}

#kili-intro {
    margin-top: 3%;
    padding-right: 0%;
    padding-left: 0%;
    text-align: justify;
}

.blog-entry {
    padding-top: 2%;
    padding-bottom: 2%;
}

.blog-text {
    text-align: justify;
}

#pic1 {
    background: url("../images/kilimanjaro/kili-pic1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pic2 {
    background: url("../images/kilimanjaro/kili-pic2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pic3 {
    background: url("../images/kilimanjaro/kili-pic3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pic4 {
    background: url("../images/kilimanjaro/kili-pic4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pic5 {
    background: url("../images/kilimanjaro/kili-pic5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pic6 {
    background: url("../images/kilimanjaro/kili-pic6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#stay-tuned {
    font-size: 240%;
    padding-bottom: 5%;
    margin-top: 8px;
}

@media screen and (max-width: 768px){
    .blog-header {
        font-size: 200%;
    }
}


/* Contact Styling */
.image-frame {
    background: url("../images/zanzibar/zanzibar3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    padding: 0%;
    margin: 0%;
}

.buffer {
    margin: 0%;
    padding: 0%;
}

.contact-heading {
    padding-top: 4%;
    padding-bottom: 2%;
    margin: 0%;
}

#contact-subheading {
    padding-top: 0%
}

#subject {
    margin-bottom: 16px;
}

#thankyou {
    margin: 0%;
    padding-bottom: 7%;
    font-size: 250%;
}