@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


#page-header {
    background-color: #FCEB92;
    padding-left: 20px;
    padding-top: 5px;
}

#header-link {
    font-family: 'Lobster', cursive;
    color: #585858;
    text-align: center;
    font-size: 300%;  
}

#hero1 {
    background: url("../images/Kilimanjaro1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
}

#hero2 {
    background: url("../images/Marrakech1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
}

#hero3 {
    background: url("../images/Dolomites1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
}

#my-nav {
    font-family: 'Lobster', cursive;
    font-size: 20px;
}


.footer-elem {
    font-family: 'Lobster', cursive;
    color: #CBCED1;
    font-size: 120%;
    margin: 0px;
    padding: 0px;
}

.footer-elem li {
    display: inline; 
}

.footer-elem i {
    margin: 1%;
    padding: 5%;
    color: #CBCED1;
}

.footer-elem ul {
    padding-inline-start: 0px;
    background-color: #343A40;
}

#contact-footer {
    text-decoration: none;
    color: #CBCED1;
}






@media screen and (max-width: 768px){
    .rwd-break {
        display: none;
    }
}